@import "tailwindcss";

.dm-sans-thin {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.dm-sans-medium {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}

.dm-sans-bold {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.dm-sans-super-bold {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
}
