@import "tailwindcss";
@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-in-scale {
  animation: fadeInScale 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.fade-in-scale-two {
  animation: fadeInScale 1s;
}

@keyframes fadeOutScale {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

.fade-out-scale {
  animation: fadeOutScale 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes fadeInBlur {
  from {
    opacity: 0;
    filter: blur(10px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

.fade-in-scale-blur {
  animation: fadeInScaleBlur 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes fadeInScaleBlur {
  from {
    opacity: 0;
    transform: scale(0);
    filter: blur(10px);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}

.fade-out-scale-blur {
  animation: fadeOutScaleBlur 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes fadeOutScaleBlur {
  from {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
  to {
    opacity: 0;
    transform: scale(0);
    filter: blur(10px);
  }
}

.fade-in-blur {
  animation: fadeInBlur 0.5s ease forwards;
}

.fade-in-blur-long {
  animation: fadeInBlur 1.5s ease forwards;
}

body {
  background-color: #fb2c36;
}

.dm-sans-thin {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.dm-sans-medium {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}

.dm-sans-bold {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.dm-sans-super-bold {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
}
